client

dev {{ chosen_interface }}

;proto tcp
proto udp

remote {{ remote_host }} {{ remote_port }}

resolv-retry infinite

nobind

;user nobody
;group nobody

persist-key
persist-tun

<ca>
<-- PUT YOUR CA HERE -->
</ca>
<cert>
{{ cert }}
</cert>
<key>
{{ key }}
</key>

{% if tunnel_option %}
redirect-gateway def1
{% endif %}

{% for route in routes -%}
route add {{ route }}
{% endfor %}

{% if push_dns_server_option %}
script-security 2
{% if dns_server_address != "" %}
dhcp-option DNS {{ dns_server_address }}
{% endif %}
{% if dns_server_domain != "" %}
dhcp-option DOMAIN {{ dns_server_domain }}
{% endif %}
{% endif %}


cipher AES-256-CBC
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384
tls-version-min 1.2

remote-cert-tls server

comp-lzo

# Set log file verbosity.
verb 3

# Silence repeating messages
;mute 20